@model IEnumerable<FoodForThrought.Models.QuestionnaireModel>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".header").hide();
            $("#footer").hide();
        });
    </script>
}


<!-- Begin page -->
<div id="layout-wrapper">

    @Html.Partial("_VerticalMenu")
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Delete Product</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Food For Thought</a></li>
                                    <li class="breadcrumb-item active">Delete Product</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- Search Product -->

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card card-animate">
                            <div class="card-body">

                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Search Question</h4>
                                </div>
                                <div id="morris-line-example" class="morris-chart" style="height: 800px;">

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Question Id</th>
                                                        <th>Question</th>
                                                        <th>Option1</th>
                                                        <th>Option2</th>
                                                        <th>Option3</th>
                                                        <th>Option4</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var questions in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => questions.Id)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => questions.emotion_questtion)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => questions.first_option)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => questions.second_option)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => questions.third_option)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => questions.forth_option)
                                                            </td>

                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <!-- end row-->

                </div> <!-- container-fluid -->
                <!-- Update Form -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card card-animate">
                            <div class="card-body">
                                <h4 class="card-title d-inline-block">Delete Question</h4>

                                <div id="morris-line-example" class="morris-chart" style="height: 120px;">

                                        <form method="post" action="Deleting_question" id="Register_form" enctype="multipart/form-data">
                                        <div class="form-group">
                                                <input type="number" name="old_id" class="form-control" id="inputname1" placeholder="Enter Product Id" />
                                        </div>

                                        <button type="submit" class="btn btn-primary" id="Register_button" style="margin-top: 15px;">Delete Product</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Overlay-->
    <div class="menu-overlay"></div>
</div>